@import "../../styles.scss";

.c-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #165996;
    padding: 13px 22px;
    & .header-nav__list {
        display: flex;
        align-items: center;
    }
    & .header-nav__item {
        color: #fff;
        margin-right: 38px;
        &:last-child {
            margin-right: 0;
        }
    }
    & .header-nav__link {
        color: #fff;
    }
    & .header-right {
        display: flex;
        align-items: center;
        &__user {
            margin-right: 28px;
        }
        &__btn {
            background: $background-gray2;
        }
    }
}